*.egg-info/
**/__pycache__/
.pytest_cache

tools/env/user.sh
.direnv/

build/
dist/
results/

.coverage

.vscode

# Ignore any shared libraries
*.so

# Ignore HIP-ified CUDA kernels
conch_cuda_ext/**/*_hip.cc
conch_cuda_ext/**/*.hip
